#degree{
    width:3%;
    height:auto;
}



.currentData{
    max-width: 600px;
    width:100%;
    margin: auto;
   
}






.blue{
    background-color: rgb(165,209,238);
}


.img-valign {
    vertical-align: middle;
    display:inline;
  }

@media (min-width: 300px) {  
    h1 {font-size:1.3rem;} /*1rem = 16px*/
    h2 {font-size:1.1rem;}
    .iconG{width:100%; height:auto;} 
    p{font-size:.6rem;}
    .summaryG{font-size:.8rem;}
    .threeTabs {
      font-size:.8rem;
    }
  }

@media (min-width: 544px) {  
    h1 {font-size:1.5rem;} /*1rem = 16px*/
    h2 {font-size:1.3rem;}
    .iconG{width:60%; height:auto;} 
    p{font-size:.7rem;}
    .summaryG{font-size:.9rem;}
    .threeTabs {
      font-size:.8rem;
    }
  }
  
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    h1 {font-size:2rem;} /*1rem = 16px*/
    h2 {font-size:1.8rem;}
    .iconG{width:50%; height:auto;} 
    p{font-size:.85rem;}
    .summaryG{font-size:1rem;}
    .threeTabs {
      font-size:1rem;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    h1 {font-size:2.5rem;} /*1rem = 16px*/
    h2 {font-size:2.2rem;}
    .iconG{width:40%; height:auto;} 
    p{font-size:.85rem;}
    .summaryG{font-size:1.1rem;}
    .threeTabs {
      font-size:1rem;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    h1 {font-size:2.75rem;} /*1rem = 16px*/  
    h2 {font-size:2.45rem;} 
    .iconG{width:40%; height:auto;} 
    p{font-size:.85rem;}
    .summaryG{font-size:1.1rem;}
    .threeTabs {
      font-size:1rem;
    }
  }  
  